<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="HospitalTests">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">main/src</directory>
            <directory suffix=".php">php</directory>
            <directory suffix=".php">diseño</directory>
        </include>
    </source>
</phpunit>
